.command-list {
    list-style: none;
    padding: 0;
    margin: 5vh 0;
}

.command-list li {
    text-align: left;
}

.item-list {
    list-style: none;
    padding: 0;
    margin: 10vh 0;
}

.item-list li {
    text-align: center;
}

.fill-content {
    padding: 0 !important;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.mini-heading {
    font-size: 4rem !important;
}

.lifecycle-table {
    color: white;
    margin: 15px auto;
    text-align: left;
}

.lifecycle-table thead tr {
    margin-bottom: 10px;
}

.lifecycle-table thead td {
    text-align: center;
}