.command-list {
    list-style: none;
    padding: 0;
    margin: 5vh 0;
}

.command-list li {
    text-align: left;
}

.item-list {
    list-style: none;
    padding: 0;
    margin: 10vh 0;
}

.item-list li {
    text-align: center;
}

.fill-content {
    padding: 0 !important;
}

.flex-center {
    align-items: center;
    justify-content: center;
}